*.AppleDouble
*__pycache__
*_*.pdf
*.ipynb_checkpoints

SyntheticImages/Test.ipynb
SyntheticImages/Configs.json

COCO-controlled/Pairs/*

COCO/Models/*
COCO/Search/*
COCO/Configs.json
COCO/Test.ipynb

