*.AppleDouble
*__pycache__
*_*.pdf
*.ipynb_checkpoints

SyntheticImages/Test.ipynb
SyntheticImages/Configs.json

COCO/DataAugmentation/*
COCO/Models/*

COCO_new/Models/*
COCO_new/Configs.json
COCO_new/Test.ipynb

