*.AppleDouble
*__pycache__
*_*.pdf
*.ipynb_checkpoints

COCO-controlled/2-Models/Models/*
COCO-controlled/2-Models/HPS/*

COCO-nuanced/Models/*

COCO/0-FindPairs/Identification/*
COCO/Models/*
COCO/FindAugs/*

